<nav class="navbar navbar-expand-lg navbar-dark bg-dark top">
    <div class ="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top">      
          Sam
        </a>
        <div class = "navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/sam/events/add" routerLinkActive="active">Add Event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/sam/events/list" routerLinkActive="active">List Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sam/events/list-sold" routerLinkActive="active">List Sold Out Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/sam/events/update" routerLinkActive="active">Update Event</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sam/events/delete" routerLinkActive="active">Delete Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/sam/stats" routerLinkActive="active">Stats 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sam/translate" routerLinkActive="active">Translator</a>
          </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark top">
  <div class ="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top">      
        Kirtesh
      </a>
      <div class = "navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/28872339/categories/add" routerLinkActive="active">Add Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/28872339/categories/list" routerLinkActive="active">List Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/28872339/categories/update" routerLinkActive="active">Update Category</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/28872339/categories/delete" routerLinkActive="active">Delete Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/28872339/stats" routerLinkActive="active">Stats 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Text-to-speech</a>
        </li>
          </ul>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>